# SpinOff dependencies

git /extensions/SpinOff			https://github.com/OpenEngineDK/extensions-SpinOff.git
git /extensions/MeshUtils			https://github.com/OpenEngineDK/extensions-MeshUtils.git

git-dev /extensions/SpinOff			git@github.com:OpenEngineDK/extensions-SpinOff.git
git-dev /extensions/MeshUtils			git@github.com:OpenEngineDK/extensions-MeshUtils.git